<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty name="applicationName" source="spring.application.name"/>
    <springProperty name="activeProfile" source="spring.profiles.active"/>

    <appender name="GelfUDPAppender" class="me.moocar.logbackgelf.GelfUDPAppender">
        <remoteHost>localhost</remoteHost>
        <port>12201</port>
        <encoder class="me.moocar.logbackgelf.GZIPEncoder">
            <layout class="me.moocar.logbackgelf.GelfLayout">
                <useLoggerName>true</useLoggerName>
                <useThreadName>true</useThreadName>
                <staticField class="me.moocar.logbackgelf.Field">
                    <key>_facility</key>
                    <value>${applicationName}</value>
                </staticField>
                <staticField class="me.moocar.logbackgelf.Field">
                    <key>_environment</key>
                    <value>${activeProfile}</value>
                </staticField>
            </layout>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="GelfUDPAppender"/>
    </root>
</configuration>